<div class="divbody bg-dark">
    <div class="form-signin bg-light mx-4 my-5 rounded text-center">
        <div id="message" class="alert alert-success" role="alert" *ngIf="mensaje">{{ mensaje }}</div>
        <div id="alert" class="alert alert-danger" role="alert" *ngIf="alerta">{{ alerta }}</div>
        <h1 class="h3 mb-3 font-weight-normal">Ingresa los Datos</h1>
        <input [(ngModel)]="titulo" type="text" id="inputTitulo" class="form-control my-2" placeholder="Titulo">
        <input [(ngModel)]="descripcion" type="text" id="inputDescripcion" class="form-control my-2" placeholder="Descripcion">     
        <button id="IngresarButton" class="btn btn-lg btn-success btn-block" routerLink="/principal">Ingresar</button>   
        <button id="principalButton" class="btn btn-lg btn-dark btn-block" routerLink="/principal">Regresar</button>
    </div>
</div>