<div class="divbody bg-dark">
    <div class="form-signin bg-light mx-4 my-5 rounded text-center">
        <div id="notification" class="alert alert-danger" *ngIf="alerta" role="alert">{{ alerta }}</div>
        <h1 class="h3 mb-3 font-weight-normal">Bell Remember</h1>
        <input [(ngModel)]="correo" type="text" id="inputName" class="form-control my-2" placeholder="Nombre de usuario">
        <input [(ngModel)]="password" type="password" id="inputPassword" class="form-control my-2" placeholder="Contraseña">
        <button id="loginButton" class="btn btn-lg btn-primary btn-block" routerLink="/principal" >Iniciar Sesión</button>
        <button id="signupButton" class="btn btn-lg btn-dark btn-block" routerLink="/signup">Registra tu Cuenta</button>
    </div>
</div>