<p>recordatorio works!</p>


<h3>Recordatorios</h3>
<!--
<div class="cart-item" *ngFor="let recordatorio of recordatorios">
  <span>{{ recordatorio.titulo }} </span>
  <span>{{ recordatorio.descripcion }}</span>
  <span>{{ recordatorio.fecha }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div>
    <label for="titulo">
      Titulo
    </label>
    <input id="titulo" type="text" formControlName="titulo">
  </div>

  <div>
    <label for="descripcion">
      Descripción
    </label>
    <input id="descripcion" type="text" formControlName="descripcion">
  </div>

  <button class="button" type="submit">Purchase</button>

</form>
-->
