<div class="divbody bg-dark">
    <div class="form-signin bg-light mx-4 my-5 rounded text-center">
        <div id="notification" class="alert alert-danger" *ngIf="alerta" role="alert">{{ alerta }}</div>
        <h1 class="h3 mb-3 font-weight-normal">Bell Remember</h1>
        <button id="alarmaButton" class="btn btn-lg btn-info btn-block" type="button" >Alarmas</button>
        <button id="recordatorioButton" class="btn btn-lg btn-primary btn-block"  type="button">Recordatorios</button>
        <button id="notaButton" class="btn btn-lg btn-success btn-block"  routerLink="/nota">Notas</button>
        <button id="loginButton" class="btn btn-lg btn-danger btn-block" routerLink="" >Salir</button>
    </div>
</div>