<div class="divbody bg-dark">
    <div class="form-signin bg-light mx-4 my-5 rounded text-center">
        <div id="message" class="alert alert-success" role="alert" *ngIf="mensaje">{{ mensaje }}</div>
        <div id="alert" class="alert alert-danger" role="alert" *ngIf="alerta">{{ alerta }}</div>
        <h1 class="h3 mb-3 font-weight-normal">Ingresa Tus Datos</h1>
        <input [(ngModel)]="nombre" type="text" id="inputName" class="form-control my-2" placeholder="Nombres">
        <input [(ngModel)]="lastName" type="text" id="inputLastName" class="form-control my-2" placeholder="Apellidos">
        <input [(ngModel)]="correo" type="text" id="inputEmail" class="form-control my-2" placeholder="Correo Electronico">
        <input [(ngModel)]="password" type="password" id="inputPassword" class="form-control my-2" placeholder="Contraseña">
        <button (click)="signup()" id="signupButton" class="btn btn-lg btn-primary btn-block" type="button"  >Completar Registro</button>
        <button id="loginButton" class="btn btn-lg btn-dark btn-block" routerLink="">Inicia Sesión</button>
    </div>
</div>